/* index.css */

/* Reset default browser spacing */
* {
  box-sizing: border-box;
}

/* Make app use full screen */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Remove Vite center layout */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #213547;
  display: block;
  min-width: 320px;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

/* Headings */
h1,
h2,
h3,
p {
  margin-top: 0;
}

/* Buttons */
button {
  font-family: inherit;
}